.cart-icon {
  width: 35px;
  height: 35px;
}
.nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
.header {
  background-color: white;
}
